form {
  margin: 20px auto 0;
  padding: 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form fieldset {
  border: 0;
}

form fieldset input {
  width: 100%;

  padding: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 2px solid #000000;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

form button {
  padding: 20px;
  margin-bottom: 20px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 6px;
  
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}